*{
    padding: 0;
    margin: 0;
    outline: 0;
}

a:hover,
a{
    text-decoration: none;
    
}
ul,ol{
    list-style: none;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family:'Oswald', sans-serif;
}
p{
  padding: 0;
  margin: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    
}

#gallery{
    padding: 30px;
    background: 
}
.gallery_heading h1{
    font-weight: 700;
}

.gal1 img{
   width: 356px;
   height: 300px;
    margin-top: 30px;
}

.gal2 img{
   width: 356px;
   height: 300px;
    margin-top: 30px;
}

.gal3 img{
   width: 356px;
   height: 300px;
    margin-top: 30px;

}
.gal4 img{
   width: 356px;
   height: 300px;
    margin-top: 30px;
}

.gal5 img{
   width: 356px;
   height: 300px;
    margin-top: 30px;
}
.gal6 img{
   width: 356px;
   height: 300px;
    margin-top: 30px;
}



#testimonial{
    padding: 30px;
    background: #DBF3FA;
    
}
.test_content h1{
    font-weight: 700;
}
.tstmo{
    margin-top: 40px;
    
}


/*footer start*/

#footer{
    padding: 60px;
    background: #EBECF0;
}

.title h5{
    font-weight: 700;
    
}


m-2{
    margin: 2px 0;
    
}

.head_title h5{
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.heading_icon {
    margin-bottom: 30px;
}
.icon {
    margin-top: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5bc5f4;
    border-radius: 50%;
}
.heading_icon p{
    color: black;
    margin-left: 20px;
    font-size: 15px;
}


.f-main {
    background-color: #555555;
}
.f-main p {
    padding: 12px 0;
    color: #f1f1f1;
}


